@page
@model GoalsManager.Pages.Home.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Explore this goal</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Goals.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goals.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goals.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goals.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goals.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goals.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goals.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goals.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goals.Progress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goals.Progress)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Goals.Id" class="btn btn-info">Edit</a>   
    <a asp-page="./Index" class="btn btn-info">Back to List</a>
</div>
