@page
@model GoalsManager.Pages.MonthlyGoalsPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Explore this goal</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyGoals.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyGoals.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyGoals.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyGoals.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyGoals.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyGoals.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyGoals.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyGoals.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyGoals.Progress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyGoals.Progress)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MonthlyGoals.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
